In [20]:
import sqlite3
from sqlite3 import Error
from typing import Tuple, List, Union
import random
from random import choice
import csv

In [21]:
def read_data_from_csv(csv_path:str)->Tuple:
    """
    read data from a csv file (no input validataion)
    @param csv_path: path to csv file
    @return: header, and data in the form of list of tuple
    """
    with open(csv_path) as file:
        csvreader = csv.reader(file)
        header = next(csvreader)
        print(header)
        rows = []
        for row in csvreader:
            rows.append(tuple(row))
        return header, rows

In [22]:
def create_database(db_file:str, schema_file: str):
    """ 
    create a database connection to a SQLite database and create tables based on schema file 
    @param db_file: path to db file
    @param schema_file: path to schema file
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        with open(schema_file) as file:
            connection.executescript(file.read())
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.close()

In [23]:
def insert_entry_to_table(db_file:str, entry_value: Tuple, table_name: str,key_name: Union[List[str],Tuple]):
    """ 
    insert one entry to the demo table 
    @param db_file: path to db file
    @param entry_value: value of entry to be inserted
    @param key_name: name of each key in the database
    @param table_name: name of table
    """
    connection = None
    try:
        assert len(key_name) == len(entry_value)
        connection = sqlite3.connect(db_file)
        cur = connection.cursor()
        key_name_str = str(tuple(key_name))
        value_str = "(" + " ?,"*(len(key_name)-1) + " ?)"
        query = f"INSERT INTO {table_name} {key_name_str} VALUES {value_str}"
        cur.execute(query, entry_value)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.commit()
            connection.close()

In [24]:
# def insert_entry_demo_table_with_default_time(db_file:str, entry_value: Tuple):
#     """ 
#     insert one entry to the demo table 
#     @param db_file: path to db file
#     @param entry_value: value of entry to be inserted
#     @param entry_name: name of each key in the database
#     """
#     connection = None
#     try:
#         connection = sqlite3.connect(db_file)
#         cur = connection.cursor()
#         query = "INSERT INTO demo_table (member_name, company, value) VALUES (?, ?, ?)"
#         cur.execute(query, entry_value)
#     except Error as e:
#         print(e)
#     finally:
#         if connection:
#             connection.commit()
#             connection.close()

In [25]:
        
def insert_entries_to_table(db_file:str, entries: List, table_name:str, key_name: Union[List[str],Tuple[str]]):
    """ 
    insert entries to the demo table 
    @param db_file: path to db file
    @param entries: list of tuples of values of entries to be inserted
    @param key_name: name of each key in the database
    @param table_name: name of table
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        cur = connection.cursor()
        key_name_str = str(tuple(key_name))
        value_str = "(" + " ?,"*(len(key_name)-1) + " ?)"
        query = f"INSERT INTO {table_name} {key_name_str} VALUES {value_str}"
        cur.executemany(query, entries)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.commit()
            connection.close()

In [26]:
# def insert_entries_demo_table_with_default_time(db_file:str, entries: List):
#     """ 
#     insert entries to the demo table 
#     @param db_file: path to db file
#     @param entries: list of tuples of values of entries to be inserted
#     """
#     connection = None
#     try:
#         connection = sqlite3.connect(db_file)
#         cur = connection.cursor()
#         query = "INSERT INTO demo_table (member_name, company, value) VALUES (?, ?, ?)"
#         cur.executemany(query, entries)
#     except Error as e:
#         print(e)
#     finally:
#         if connection:
#             connection.commit()
#             connection.close()

In [27]:
def get_all_entries_from_db(db_file: str, table_name: str) -> List[str]:
    """ 
    insert entries to the demo table 
    @param db_file: path to db file
    @param table_name: name of the table that we are interested in
    @return: a list of all entries
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        cur = connection.cursor()
        query = f'SELECT * FROM {table_name} ORDER BY transaction_date'
        entries = cur.execute(query)
        for row in entries:
            print(row)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.close()
            return entries

In [28]:
#parameters we are going to use
data_base_name = r"v1.db"
sql_schema = r"v1_schema.sql"
table_name = r"all_transaction"
csv_path = r"v1_data.csv"

In [29]:
# parse data
header, data = read_data_from_csv(csv_path)

['member_name', 'state_district_number', 'company', 'ticker', 'transaction_type', 'transaction_date', 'value_lb', 'value_ub', 'description', 'link']

In [30]:
# create database
create_database(data_base_name, schema_file=sql_schema)

2.6.0

In [31]:
# test insert one entry
insert_entry_to_table(db_file=data_base_name, entry_value=data[0],table_name=table_name, key_name=header)

In [32]:
entries = get_all_entries_from_db(db_file=data_base_name, table_name=table_name)

(1, 'Nancy Pelosi', 'CA12', 'Tesla, Inc', 'TSLA', 'P', '2022-03-17', 1000001, 5000000, 'Exercised 25 call options(2,500 shares) expiring 3/18/22 at a strike price of $500.', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2022/20020662.pdf')

In [33]:
# test insert many
insert_entries_to_table(db_file=data_base_name, entries=data[1:],table_name=table_name, key_name=header)

In [34]:
entries = get_all_entries_from_db(db_file=data_base_name, table_name=table_name)

(2, 'Robert E. Andrews', 'NJ01', 'Hill International, Inc', 'HIL', 'S', '2013-12-26', 15001, 50000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000077.pdf')
(7, 'Eric Cantor', 'VA07', 'Mesabi Trust', 'MSB', 'P', '2014-01-16', 15001, 50000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000165.pdf')
(4, 'John A. Boehner', 'OH08', 'Diamond Offshore Drilling, Inc', 'DO', 'S', '2014-02-06', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000284.pdf')
(6, 'Michael C. Burgess', 'TX26', 'General Electric Company', 'GE', 'S', '2014-03-10', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000708.pdf')
(5, 'Mo Brooks', 'AL05', 'Morgan Stanley Cap Tr V Gtd Secs', 'MWO', 'S', '2014-05-05', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000606.pdf')
(3, 'Lou Barletta', 'PA11', 'Gigamon Inc', 'GIMO', 'S', '2014-05-22', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000998.pdf')
(11, 'William M. Cassidy', 'LA06', 'Ford Motor Company', 'F', 'S', '2014-09-11', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003626.pdf')
(12, 'William M. Cassidy', 'LA06', 'Intel Corporation', 'INTC', 'S', '2014-09-11', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003626.pdf')
(19, 'Michael Conaway', 'TX11', 'Actavis plc Ordinary Shares', 'ACT', 'P', '2014-12-11', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002307.pdf')
(10, 'William M. Cassidy', 'LA06', 'Chevron Corporation', 'CVX', 'P', '2014-12-16', 15001, 50000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003626.pdf')
(17, 'Katherine M Clark', 'MA05', 'Spectra Energy Corp', 'SE', 'S', '2014-12-17', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002346.pdf')
(16, 'Katherine M Clark', 'MA05', 'Packaging Corporation of America', 'PKG', 'P', '2014-12-18', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002346.pdf')
(13, 'Kathy Castor', 'FL14', 'Caterpillar, Inc', 'CAT', 'P', '2014-12-24', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002315.pdf')
(8, 'Earl Blumenauer', 'OR03', 'Northwest Natural Gas Company', 'NWN', 'P', '2015-02-25', 15001, 50000, 'Part of compensation and long term incentive plan', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002777.pdf')
(20, 'Gerald E. Connolly', 'VA11', 'Dominion Resources, Inc', 'D', 'P', '2015-03-25', 1001, 15000, 'Divident Reinvestment', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002942.pdf')
(14, 'Steve Chabot', 'OH01', 'Actavis plc Ordinary Shares', 'ACT', 'P', '2015-05-26', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003295.pdf')
(15, 'Steve Chabot', 'OH01', 'Facebook, Inc. - Class A', 'FB', 'P', '2015-05-26', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003295.pdf')
(18, 'Barbara J. Comstock', 'VA10', 'Ambarella, Inc. - Ordinary Shares', 'AMBA', 'S', '2015-06-19', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003280.pdf')
(9, 'Cheri Bustos', 'IL17', 'Norfolk Southern Corporation', 'NSC', 'S', '2015-08-20', 15001, 50000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003873.pdf')
(21, 'Carlos Curbelo', 'FL26', 'Cisco Systems, Inc', 'CSCO', 'P', '2015-08-24', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003554.pdf')
(23, 'Jim Costa', 'CA16', 'Heartland Financial USA, Inc', 'HTLF', 'E', '2015-12-04', 1001, 15000, 'Heartland Financial USA (HTLF) exchanged from Premier Valley Bank (PVLY)', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2016/20005131.pdf')
(26, 'Lloyd Doggett', 'TX35', 'Home Depot, Inc.', 'HD', 'P', '2015-12-17', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2016/20004334.pdf')
(29, 'Virginia Foxx', 'NC05', 'Schwab International Equity ETF', 'SCHF', 'P', '2015-12-29', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2016/20004323.pdf')
(28, 'Bill Flores', 'TX17', 'Apple Inc.', 'AAPL', 'S', '2015-12-30', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2016/20004413.pdf')
(24, 'Susan A. Davis', 'CA53', 'QUALCOMM Incorporated', 'QCOM', 'P', '2016-01-25', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2016/20004603.pdf')
(30, 'Bob Gibbs', 'OH07', 'Apple Inc.', 'AAPL', 'P', '2016-01-27', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2016/20004472.pdf')
(25, 'Debbie Dingell', 'MI12', 'International Paper Company', 'IP', 'P', '2016-02-02', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2016/20004614.pdf')
(27, 'Tammy Duckworth', 'IL08', 'EMC Corporation', 'EMC', 'S', '2016-09-07', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2016/20006086.pdf')
(32, 'Derek Kilmer', 'WA06', 'Microsoft Corporation', 'MSFT', 'S', '2017-03-17', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2018/20009709.pdf')
(22, 'Suzan K. DelBene', 'WA01', 'Microsoft Corporation', 'MSFT', 'P', '2017-08-29', 250001, 500000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2017/20007986.pdf')
(31, 'Josh Gottheimer', 'NJ01', 'Microsoft Corporation', 'MSFT', 'S', '2018-11-28', 1001, 15000, 'Call option; Strike Price $117; Expires 12/14/2018', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2018/20010807.pdf')
(1, 'Nancy Pelosi', 'CA12', 'Tesla, Inc', 'TSLA', 'P', '2022-03-17', 1000001, 5000000, 'Exercised 25 call options(2,500 shares) expiring 3/18/22 at a strike price of $500.', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2022/20020662.pdf')

In [48]:
connection = sqlite3.connect(data_base_name)
cur = connection.cursor()
query = f'SELECT * from {table_name} where strftime(\'%Y\',transaction_date) = \'2014\''
q= r"SELECT strftime('%Y','2022-04-10')"
entries = cur.execute(query)
for row in entries:
    print(row)

(3, 'Lou Barletta', 'PA11', 'Gigamon Inc', 'GIMO', 'S', '2014-05-22', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000998.pdf')
(4, 'John A. Boehner', 'OH08', 'Diamond Offshore Drilling, Inc', 'DO', 'S', '2014-02-06', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000284.pdf')
(5, 'Mo Brooks', 'AL05', 'Morgan Stanley Cap Tr V Gtd Secs', 'MWO', 'S', '2014-05-05', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000606.pdf')
(6, 'Michael C. Burgess', 'TX26', 'General Electric Company', 'GE', 'S', '2014-03-10', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000708.pdf')
(7, 'Eric Cantor', 'VA07', 'Mesabi Trust', 'MSB', 'P', '2014-01-16', 15001, 50000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2014/20000165.pdf')
(10, 'William M. Cassidy', 'LA06', 'Chevron Corporation', 'CVX', 'P', '2014-12-16', 15001, 50000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003626.pdf')
(11, 'William M. Cassidy', 'LA06', 'Ford Motor Company', 'F', 'S', '2014-09-11', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003626.pdf')
(12, 'William M. Cassidy', 'LA06', 'Intel Corporation', 'INTC', 'S', '2014-09-11', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20003626.pdf')
(13, 'Kathy Castor', 'FL14', 'Caterpillar, Inc', 'CAT', 'P', '2014-12-24', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002315.pdf')
(16, 'Katherine M Clark', 'MA05', 'Packaging Corporation of America', 'PKG', 'P', '2014-12-18', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002346.pdf')
(17, 'Katherine M Clark', 'MA05', 'Spectra Energy Corp', 'SE', 'S', '2014-12-17', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002346.pdf')
(19, 'Michael Conaway', 'TX11', 'Actavis plc Ordinary Shares', 'ACT', 'P', '2014-12-11', 1001, 15000, 'None', 'https://disclosures-clerk.house.gov/public_disc/ptr-pdfs/2015/20002307.pdf')