In [14]:
import sqlite3
from sqlite3 import Error
from typing import Tuple, List
import random
from random import choice

In [7]:
def create_table(db_file:str, schema_file: str):
    """ 
    create a database connection to a SQLite database and create tables based on schema file 
    @param db_file: path to db file
    @param schema_file: path to schema file
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        with open(schema_file) as file:
            connection.executescript(file.read())
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.close()

In [11]:
def insert_entry_demo_table(db_file:str, entry_value: Tuple):
    """ 
    insert one entry to the demo table 
    @param db_file: path to db file
    @param entry_value: value of entry to be inserted
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        cur = connection.cursor()
        query = "INSERT INTO demo_table (member_name, transaction_date, company, value) VALUES (?, ?, ?, ?)"
        cur.execute(query, entry_value)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.commit()
            connection.close()

In [15]:
def insert_entry_demo_table_with_default_time(db_file:str, entry_value: Tuple):
    """ 
    insert one entry to the demo table 
    @param db_file: path to db file
    @param entry_value: value of entry to be inserted
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        cur = connection.cursor()
        query = "INSERT INTO demo_table (member_name, company, value) VALUES (?, ?, ?)"
        cur.execute(query, entry_value)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.commit()
            connection.close()

In [9]:
        
def insert_entries_demo_table(db_file:str, entries: List):
    """ 
    insert entries to the demo table 
    @param db_file: path to db file
    @param entries: list of tuples of values of entries to be inserted
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        cur = connection.cursor()
        query = "INSERT INTO demo_table (member_name, transaction_date, company, value) VALUES (?, ?, ?, ?)"
        cur.executemany(query, entries)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.commit()
            connection.close()

In [16]:
def insert_entries_demo_table_with_default_time(db_file:str, entries: List):
    """ 
    insert entries to the demo table 
    @param db_file: path to db file
    @param entries: list of tuples of values of entries to be inserted
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        cur = connection.cursor()
        query = "INSERT INTO demo_table (member_name, company, value) VALUES (?, ?, ?)"
        cur.executemany(query, entries)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.commit()
            connection.close()

In [19]:
def get_all_entries_from_db(db_file: str, table_name: str) -> List[str]:
    """ 
    insert entries to the demo table 
    @param db_file: path to db file
    @param table_name: name of the table that we are interested in
    @return: a list of all entries
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        cur = connection.cursor()
        query = f'SELECT * FROM {table_name} ORDER BY transaction_date'
        entries = cur.execute(query)
        for row in entries:
            print(row)
    except Error as e:
        print(e)
    finally:
        if connection:
            connection.close()
            return entries

In [27]:
#parameters we are going to use
demo_db = r"demo.db"
sql_schema = r"demo_schema.sql"
table_name = r"demo_table"

In [37]:
#test populate demo_db with one entry
companies = ["I LOVE CE","I LOVE EE","I LOVE CS", "I LOVE STAT", "I LOVE BADMINTON", "I LOVE ML", "I LOVE DS"]
member_names = ["Newton", "Vogel", "Honeywell", "Ping"]

create_table(demo_db, sql_schema) #refresh/create database
test_entry: Tuple = (choice(member_names),choice(companies), random.random()*10000)
insert_entry_demo_table_with_default_time(db_file=demo_db, entry_value=test_entry)
print(test_entry)

2.6.0
('Newton', 'I LOVE DS', 9770.75546978201)

In [38]:
#print the database

entries = get_all_entries_from_db(db_file=demo_db, table_name=table_name)

(1, 'Newton', '2022-04-07 19:58:39', 'I LOVE DS', 9770.75546978201)

In [39]:
#test populate demo_db with number of entries
test_entries: List = [(choice(member_names),choice(companies), random.random()*10000) for _ in range(29)]
insert_entries_demo_table_with_default_time(db_file=demo_db, entries=test_entries)
print(test_entries)

[('Newton', 'I LOVE BADMINTON', 8438.517117741698), ('Honeywell', 'I LOVE BADMINTON', 7106.481856943286), ('Ping', 'I LOVE CE', 9426.309657111207), ('Honeywell', 'I LOVE CE', 7106.546506237015), ('Vogel', 'I LOVE EE', 5.6410465830269985), ('Vogel', 'I LOVE CS', 1103.2179572096024), ('Newton', 'I LOVE BADMINTON', 7091.398261280284), ('Vogel', 'I LOVE BADMINTON', 4461.6430769871995), ('Vogel', 'I LOVE BADMINTON', 8743.245346161902), ('Honeywell', 'I LOVE EE', 6057.725090453012), ('Newton', 'I LOVE ML', 9532.670743340186), ('Ping', 'I LOVE CS', 8596.617213694311), ('Newton', 'I LOVE ML', 2974.117533249807), ('Vogel', 'I LOVE CE', 4163.390176160961), ('Ping', 'I LOVE DS', 100.47368090972509), ('Newton', 'I LOVE CS', 1298.347021227797), ('Ping', 'I LOVE ML', 5525.863078424121), ('Honeywell', 'I LOVE CE', 3884.2673225782), ('Ping', 'I LOVE BADMINTON', 8028.568055139095), ('Newton', 'I LOVE STAT', 4667.81098364025), ('Honeywell', 'I LOVE EE', 2707.0447275650977), ('Vogel', 'I LOVE EE', 6661.008794252135), ('Honeywell', 'I LOVE DS', 7810.275018822973), ('Ping', 'I LOVE CE', 35.067307421357), ('Ping', 'I LOVE STAT', 2653.4981158566875), ('Vogel', 'I LOVE CS', 3978.1949786480263), ('Vogel', 'I LOVE DS', 8023.95753942228), ('Newton', 'I LOVE CS', 5552.011985976695), ('Vogel', 'I LOVE STAT', 581.5770914124118)]

In [40]:
entries = get_all_entries_from_db(db_file=demo_db, table_name=table_name)

(1, 'Newton', '2022-04-07 19:58:39', 'I LOVE DS', 9770.75546978201)
(2, 'Newton', '2022-04-07 19:58:44', 'I LOVE BADMINTON', 8438.517117741698)
(3, 'Honeywell', '2022-04-07 19:58:44', 'I LOVE BADMINTON', 7106.481856943286)
(4, 'Ping', '2022-04-07 19:58:44', 'I LOVE CE', 9426.309657111207)
(5, 'Honeywell', '2022-04-07 19:58:44', 'I LOVE CE', 7106.546506237015)
(6, 'Vogel', '2022-04-07 19:58:44', 'I LOVE EE', 5.6410465830269985)
(7, 'Vogel', '2022-04-07 19:58:44', 'I LOVE CS', 1103.2179572096024)
(8, 'Newton', '2022-04-07 19:58:44', 'I LOVE BADMINTON', 7091.398261280284)
(9, 'Vogel', '2022-04-07 19:58:44', 'I LOVE BADMINTON', 4461.6430769871995)
(10, 'Vogel', '2022-04-07 19:58:44', 'I LOVE BADMINTON', 8743.245346161902)
(11, 'Honeywell', '2022-04-07 19:58:44', 'I LOVE EE', 6057.725090453012)
(12, 'Newton', '2022-04-07 19:58:44', 'I LOVE ML', 9532.670743340186)
(13, 'Ping', '2022-04-07 19:58:44', 'I LOVE CS', 8596.617213694311)
(14, 'Newton', '2022-04-07 19:58:44', 'I LOVE ML', 2974.117533249807)
(15, 'Vogel', '2022-04-07 19:58:44', 'I LOVE CE', 4163.390176160961)
(16, 'Ping', '2022-04-07 19:58:44', 'I LOVE DS', 100.47368090972509)
(17, 'Newton', '2022-04-07 19:58:44', 'I LOVE CS', 1298.347021227797)
(18, 'Ping', '2022-04-07 19:58:44', 'I LOVE ML', 5525.863078424121)
(19, 'Honeywell', '2022-04-07 19:58:44', 'I LOVE CE', 3884.2673225782)
(20, 'Ping', '2022-04-07 19:58:44', 'I LOVE BADMINTON', 8028.568055139095)
(21, 'Newton', '2022-04-07 19:58:44', 'I LOVE STAT', 4667.81098364025)
(22, 'Honeywell', '2022-04-07 19:58:44', 'I LOVE EE', 2707.0447275650977)
(23, 'Vogel', '2022-04-07 19:58:44', 'I LOVE EE', 6661.008794252135)
(24, 'Honeywell', '2022-04-07 19:58:44', 'I LOVE DS', 7810.275018822973)
(25, 'Ping', '2022-04-07 19:58:44', 'I LOVE CE', 35.067307421357)
(26, 'Ping', '2022-04-07 19:58:44', 'I LOVE STAT', 2653.4981158566875)
(27, 'Vogel', '2022-04-07 19:58:44', 'I LOVE CS', 3978.1949786480263)
(28, 'Vogel', '2022-04-07 19:58:44', 'I LOVE DS', 8023.95753942228)
(29, 'Newton', '2022-04-07 19:58:44', 'I LOVE CS', 5552.011985976695)
(30, 'Vogel', '2022-04-07 19:58:44', 'I LOVE STAT', 581.5770914124118)