In [1]:
import pandas as pd
import re
import PyPDF2
import os
import json
import copy

import tabula as tb

In [2]:
pdf_path = "2015_house_pdfs/Pelosi_Nancy_10010857.pdf"
pdf_path_joe = "2015_house_pdfs/Wilson_Joe_10012512.pdf"

In [3]:
pdf_to_empty = "2015_house_pdfs/Pelosi_Nancy_20002351.pdf"
if os.stat(pdf_to_empty).st_size < 2000:
    print("smaller")
else:
    print("larger")

smaller

In [4]:
def create_template(file_path):
    file = open(file_path, 'rb')
    readpdf = PyPDF2.PdfFileReader(file)
    total_pages = readpdf.numPages
    with open("pdf_reduced_template.tabula-template.json", "r") as jsonTemplate:
        data = json.load(jsonTemplate)
        page_template = data[3]
        # print(page_template)
        if total_pages == 1:
            data = data[:-1]
        else:
            for page_num in range(2, total_pages):
                tmp_page_template = copy.copy(page_template)
                tmp_page_template['page'] = page_num + 1
                # print(tmp_page_template)
                data.append(tmp_page_template)
            
        with open("pdf_tmp_template.tabula-template.json", 'w') as outfile:
            json.dump(data, outfile)

In [5]:
create_template(pdf_path)

In [6]:
def scrape_pdf(file):
    create_template(file)
    template_path = 'pdf_tmp_template.tabula-template.json'
    return tb.read_pdf_with_template(file, template_path, stream=True)

In [7]:
db = scrape_pdf(pdf_path)

In [8]:
db[0].columns[0].lower()

'filer information'

In [16]:
pdf_db = pd.DataFrame(columns=['Member Name', 'Member District', 'Company', 'Ticker', 'Type', 'Date',
                      'Value Lower Bound','Value Upper Bound', 'Description', 'Link'])

In [37]:
db[7]

,asset owner,value of asset,income,Unnamed: 0,income tx. >
0,NaN,NaN,type(s),NaN,"$1,000?"
1,NaN,NaN,NaN,NaN,cdfeg
2,Account,NaN,NaN,NaN,NaN
3,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
4,Union Bank of California - Pelosi Trust Checki...,"$1 - $1,000",None,NaN,ecgdf
5,Account,NaN,NaN,NaN,NaN
6,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
7,United Football League SP,"$5,000,001 -",None,NaN,fcedg
8,NaN,"$25,000,000",NaN,NaN,NaN
9,"LOCATION: Jacksonville/Duval, FL, US",NaN,NaN,NaN,NaN
10,DESCRIPTION: Ltd. Partnership Interest in Foot...,NaN,NaN,NaN,NaN
11,United Football League Sacramento Mountain SP,"$5,000,001 -",Partnership Loss,NaN,"$50,001 - cefdg"
12,Lions Team,"$25,000,000",NaN,NaN,"$100,000"
13,"LOCATION: Sacramento/Sacramento, CA, US",NaN,NaN,NaN,NaN
14,DESCRIPTION: Ltd. Partnership Interest in Foot...,NaN,NaN,NaN,NaN
15,Visa Inc. (V) SP,"$1,000,001 -","Capital Gains,",NaN,"$100,001 - ecdgfb"
16,NaN,"$5,000,000",Dividends,NaN,"$1,000,000"
17,Walt Disney Company SP,"$100,001 -",None,NaN,cgfed
18,NaN,"$250,000",NaN,NaN,NaN
19,DESCRIPTION: 100 call options with a strike pr...,NaN,NaN,NaN,NaN
20,Wells Fargo Bank - Checking Account JT,"$1,001 - $15,000",Interest,NaN,$1 - $200 gfecd
21,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
22,Yerac Associates SP,None,Partnership Loss,NaN,"$15,001 - $50,000 dcfge"
23,"LOCATION: San Francisco/San Francisco, CA, US",NaN,NaN,NaN,NaN
24,DESCRIPTION: Ltd. Partner in Investment Fund,NaN,NaN,NaN,NaN
25,ScHeDule b: tranSactionS,NaN,NaN,NaN,NaN
26,asset,owner Date,tx.,NaN,amount cap.
27,NaN,NaN,type,NaN,gains >
28,NaN,NaN,NaN,NaN,$200?
29,"Hertz Global Holdings, Inc (HTZ)",07/15/2015,P,NaN,"$15,001 - $50,000"
30,DESCRIPTION: Purchase of 42 call options with ...,NaN,NaN,NaN,NaN
31,"Hertz Global Holdings, Inc (HTZ)",07/16/2015,P,NaN,"$100,001 -"
32,NaN,NaN,NaN,NaN,"$250,000"
33,DESCRIPTION: Purchase of 258 call options with...,NaN,NaN,NaN,NaN

In [39]:
db[7]["asset owner"].str.lower() == "schedule b: transactions"

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
Name: asset owner, dtype: bool

In [26]:
def process_dataframe(df):

,asset owner,value of asset,income,Unnamed: 0,income tx. >
0,NaN,NaN,type(s),NaN,"$1,000?"
1,NaN,NaN,NaN,NaN,cdfeg
2,Account,NaN,NaN,NaN,NaN
3,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
4,Union Bank of California - Pelosi Trust Checki...,"$1 - $1,000",None,NaN,ecgdf
5,Account,NaN,NaN,NaN,NaN
6,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
7,United Football League SP,"$5,000,001 -",None,NaN,fcedg
8,NaN,"$25,000,000",NaN,NaN,NaN
9,"LOCATION: Jacksonville/Duval, FL, US",NaN,NaN,NaN,NaN
10,DESCRIPTION: Ltd. Partnership Interest in Foot...,NaN,NaN,NaN,NaN
11,United Football League Sacramento Mountain SP,"$5,000,001 -",Partnership Loss,NaN,"$50,001 - cefdg"
12,Lions Team,"$25,000,000",NaN,NaN,"$100,000"
13,"LOCATION: Sacramento/Sacramento, CA, US",NaN,NaN,NaN,NaN
14,DESCRIPTION: Ltd. Partnership Interest in Foot...,NaN,NaN,NaN,NaN
15,Visa Inc. (V) SP,"$1,000,001 -","Capital Gains,",NaN,"$100,001 - ecdgfb"
16,NaN,"$5,000,000",Dividends,NaN,"$1,000,000"
17,Walt Disney Company SP,"$100,001 -",None,NaN,cgfed
18,NaN,"$250,000",NaN,NaN,NaN
19,DESCRIPTION: 100 call options with a strike pr...,NaN,NaN,NaN,NaN
20,Wells Fargo Bank - Checking Account JT,"$1,001 - $15,000",Interest,NaN,$1 - $200 gfecd
21,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
22,Yerac Associates SP,None,Partnership Loss,NaN,"$15,001 - $50,000 dcfge"
23,"LOCATION: San Francisco/San Francisco, CA, US",NaN,NaN,NaN,NaN
24,DESCRIPTION: Ltd. Partner in Investment Fund,NaN,NaN,NaN,NaN
25,ScHeDule b: tranSactionS,NaN,NaN,NaN,NaN
26,asset,owner Date,tx.,NaN,amount cap.
27,NaN,NaN,type,NaN,gains >
28,NaN,NaN,NaN,NaN,$200?
29,"Hertz Global Holdings, Inc (HTZ)",07/15/2015,P,NaN,"$15,001 - $50,000"
30,DESCRIPTION: Purchase of 42 call options with ...,NaN,NaN,NaN,NaN
31,"Hertz Global Holdings, Inc (HTZ)",07/16/2015,P,NaN,"$100,001 -"
32,NaN,NaN,NaN,NaN,"$250,000"
33,DESCRIPTION: Purchase of 258 call options with...,NaN,NaN,NaN,NaN