In [33]:
import pandas as pd
import re
import PyPDF2
import os
import json
import copy
import numpy as np
import tabula as tb

In [34]:
pdf_path = "2015_house_pdfs/Pelosi_Nancy_10010857.pdf"
pdf_path_joe = "2015_house_pdfs/Wilson_Joe_10012512.pdf"
pdf_to_empty = "2015_house_pdfs/Pelosi_Nancy_20002351.pdf"
pdf_to_apple = "2018_house_pdfs/Apple_Gary Winston_10022824.pdf"
pdf_to_young = "2017_house_pdfs/Young_Stephen Robert Neale_10018941.pdf"
pdf_to_wass = "2019_house_pdfs/Wasserman Schultz_Debbie_10037015.pdf"
pdf_to_nancy = "2019_house_pdfs/Pelosi_Nancy_10035243.pdf"
pdf_to_beyer =  "2018_house_pdfs/Beyer_Donald Sternoff_10026686.pdf"
pdf_to_low = "2018_house_pdfs/Lowenthal_Alan S._10025964.pdf"

list_of_pdf_paths = (pdf_path, pdf_path_joe, pdf_to_nancy, pdf_to_wass, pdf_to_low)

In [35]:
description_regex = r"^description: (.+)$"
stock_regex = r"^\s*(?!description:|location:)\s*(.*)\s*\((?!one|two)([\w | .]{1,5})\).*$"
bounds_regex = r"^[a-zA-Z]*\s*\$?(?!\d{1,4}\/)([\d]+,?[\d]+)\s*-?\s*\$?([\d]*,?\d*).*$"
time_regex = r"^[a-zA-z]*\s*(\d{1,2}\/\d{1,2}\/\d{2,4})\s*$"

transaction_type_regex = r"\s*([SPsp])\s*$"

In [36]:
pdf_to_empty = "2015_house_pdfs/Pelosi_Nancy_20002351.pdf"
if os.stat(pdf_to_empty).st_size < 2000:
    print("smaller")
else:
    print("larger")

smaller

In [37]:
def create_template(file_path):
    file = open(file_path, 'rb')
    readpdf = PyPDF2.PdfFileReader(file)
    total_pages = readpdf.numPages
    with open("pdf_reduced_template.tabula-template.json", "r") as jsonTemplate:
        data = json.load(jsonTemplate)
        page_template = data[3]
        if total_pages == 1:
            data = data[:-1]
        else:
            for page_num in range(2, total_pages):
                tmp_page_template = copy.copy(page_template)
                tmp_page_template['page'] = page_num + 1
                data.append(tmp_page_template)
            
        with open("pdf_tmp_template.tabula-template.json", 'w') as outfile:
            json.dump(data, outfile)

In [38]:
def scrape_pdf(file):
    create_template(file)
    template_path = 'pdf_tmp_template.tabula-template.json'
    return tb.read_pdf_with_template(file, template_path, stream=True)

In [39]:
db = scrape_pdf(pdf_path)

In [40]:
db_joe = scrape_pdf(pdf_path_joe)

In [41]:
db_apple = scrape_pdf(pdf_to_apple)

In [42]:
db_young = scrape_pdf(pdf_to_young)

In [43]:
db_wass = scrape_pdf(pdf_to_wass)

In [44]:
db_nancy = scrape_pdf(pdf_to_nancy)

In [45]:
pdf_db = pd.DataFrame(columns=['Member Name', 'Member District', 'Company', 'Ticker', 'Type', 'Date',
                      'Value Lower Bound','Value Upper Bound', 'Description', 'Link'])

In [46]:
db[7]

,asset owner,value of asset,income,Unnamed: 0,income tx. >
0,NaN,NaN,type(s),NaN,"$1,000?"
1,NaN,NaN,NaN,NaN,cdfeg
2,Account,NaN,NaN,NaN,NaN
3,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
4,Union Bank of California - Pelosi Trust Checki...,"$1 - $1,000",None,NaN,ecgdf
5,Account,NaN,NaN,NaN,NaN
6,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
7,United Football League SP,"$5,000,001 -",None,NaN,fcedg
8,NaN,"$25,000,000",NaN,NaN,NaN
9,"LOCATION: Jacksonville/Duval, FL, US",NaN,NaN,NaN,NaN
10,DESCRIPTION: Ltd. Partnership Interest in Foot...,NaN,NaN,NaN,NaN
11,United Football League Sacramento Mountain SP,"$5,000,001 -",Partnership Loss,NaN,"$50,001 - cefdg"
12,Lions Team,"$25,000,000",NaN,NaN,"$100,000"
13,"LOCATION: Sacramento/Sacramento, CA, US",NaN,NaN,NaN,NaN
14,DESCRIPTION: Ltd. Partnership Interest in Foot...,NaN,NaN,NaN,NaN
15,Visa Inc. (V) SP,"$1,000,001 -","Capital Gains,",NaN,"$100,001 - ecdgfb"
16,NaN,"$5,000,000",Dividends,NaN,"$1,000,000"
17,Walt Disney Company SP,"$100,001 -",None,NaN,cgfed
18,NaN,"$250,000",NaN,NaN,NaN
19,DESCRIPTION: 100 call options with a strike pr...,NaN,NaN,NaN,NaN
20,Wells Fargo Bank - Checking Account JT,"$1,001 - $15,000",Interest,NaN,$1 - $200 gfecd
21,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN
22,Yerac Associates SP,None,Partnership Loss,NaN,"$15,001 - $50,000 dcfge"
23,"LOCATION: San Francisco/San Francisco, CA, US",NaN,NaN,NaN,NaN
24,DESCRIPTION: Ltd. Partner in Investment Fund,NaN,NaN,NaN,NaN
25,ScHeDule b: tranSactionS,NaN,NaN,NaN,NaN
26,asset,owner Date,tx.,NaN,amount cap.
27,NaN,NaN,type,NaN,gains >
28,NaN,NaN,NaN,NaN,$200?
29,"Hertz Global Holdings, Inc (HTZ)",07/15/2015,P,NaN,"$15,001 - $50,000"
30,DESCRIPTION: Purchase of 42 call options with ...,NaN,NaN,NaN,NaN
31,"Hertz Global Holdings, Inc (HTZ)",07/16/2015,P,NaN,"$100,001 -"
32,NaN,NaN,NaN,NaN,"$250,000"
33,DESCRIPTION: Purchase of 258 call options with...,NaN,NaN,NaN,NaN

In [47]:
"schedule b: transactions" in db[7]["asset owner"].str.lower().values

True

In [48]:
db[8].iloc[:, 0]

0                                                   NaN
1                                                   NaN
2                              Salesforce.com Inc (CRM)
3                                                   NaN
4     DESCRIPTION: Contribution of 1,084 shares held...
5                                             accounts.
6                                         Visa Inc. (V)
7                                                   NaN
8                     DESCRIPTION: Sale of 5,000 Shares
9                                         Visa Inc. (V)
10                                                  NaN
11    DESCRIPTION: Contribution of 2,000 shares held...
12                                            accounts.
13                            ScHeDule c: earneD income
14                                          Source type
15             Financial Leasing Services Spouse Salary
16           Fairfield Associates Spouse Management Fee
17    Forty-Five Belden Corporation Spouse Managemen...
18             Isolep Enterprises Spouse Management Fee
19               Yerac Associates Spouse Management Fee
20                              ScHeDule D: liabilitieS
21                         owner creditor Date incurred
22                                                  NaN
23            JT Union Bank of California February 2002
24                                                  NaN
25            JT Union Bank of California December 2001
26                                                  NaN
27            SP Union Bank of California December 2007
28                                                  NaN
29          SP Berkadia Commerical Mortgage August 2007
30                                                  NaN
31               JT Union Bank of California April 2005
32                                                  NaN
Name: asset owner, dtype: object

In [49]:
index = db[6].index[db[6]["asset owner"].str.lower() == "schedule b: transactions"].tolist()
index

[]

In [50]:
def find_start(df):
    for i in range(len(df)):
        index = df[i].index[df[i].iloc[:, 0].str.lower() == "schedule b: transactions"].tolist()
        if index != []:
            return i, index[0]

In [51]:
find_start(db_joe)

(3, 11)

In [52]:
db[0].iloc[2, 1]

'CA12'

In [53]:
pd.to_datetime(db[8].iloc[9, 1])

Timestamp('2015-12-30 00:00:00')

In [54]:
db_nancy[3]

,asset owner,value of asset,Unnamed: 0,income,income.1,tx. >
0,NaN,NaN,NaN,type(s),NaN,"$1,000?"
1,Aristotle LLC [OL] SP,"$15,001 - $50,000",NaN,None,NaN,dcfeg
2,"LOCATION: San Francisco/San Francisco, CA, US",NaN,NaN,NaN,NaN,NaN
3,DESCRIPTION: Ltd. Partnership Investment in Ar...,NaN,NaN,NaN,NaN,NaN
4,AT&T Inc. (T) [ST] SP,"$250,001 -",NaN,Dividends,"$15,001 - $50,000",ecdgf
5,NaN,"$500,000",NaN,NaN,NaN,NaN
6,Auberge du Soleil [OL] SP,"$5,000,001 -",NaN,Partnership Loss,"$5,001 - $15,000",gdecf
7,NaN,"$25,000,000",NaN,NaN,NaN,NaN
8,"LOCATION: Rutherford/Napa, CA, US",NaN,NaN,NaN,NaN,NaN
9,DESCRIPTION: Ltd. Partnership Investment in Re...,NaN,NaN,NaN,NaN,NaN
10,Bank of America - Checking Account [BA] SP,"$1,001 - $15,000",NaN,None,NaN,decgf
11,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN,NaN
12,Bank of America - Checking Account [BA] JT,"$1 - $1,000",NaN,None,NaN,defcg
13,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN,NaN
14,Bank of America - Checking Account [BA] SP,"$1 - $1,000",NaN,None,NaN,fcgde
15,"DESCRIPTION: Washington, DC",NaN,NaN,NaN,NaN,NaN
16,BF Enterprises Common Stock New (BFET) [ST] SP,None,NaN,None,NaN,bgcefd
17,DESCRIPTION: Asset name change during 2015 to ...,NaN,NaN,NaN,NaN,NaN
18,Borel Real Estate Company [OL] SP,"$500,001 -",NaN,Partnership,"$100,001 -",efdcg
19,NaN,"$1,000,000",NaN,"Income, Rent","$1,000,000",NaN
20,"LOCATION: San Mateo/San Mateo, CA, US",NaN,NaN,NaN,NaN,NaN
21,DESCRIPTION: Ltd. Partnership Interest in Shop...,NaN,NaN,NaN,NaN,NaN
22,City Car Services LLC [OL] SP,"$500,001 -",NaN,Partnership,"$15,001 - $50,000",defgc
23,NaN,"$1,000,000",NaN,Income,NaN,NaN
24,"LOCATION: Hingham/Plymouth, MA, US",NaN,NaN,NaN,NaN,NaN
25,DESCRIPTION: Ltd. Partnership Investment in Li...,NaN,NaN,NaN,NaN,NaN
26,City National Bank - Checking Account [BA] SP,"$100,001 -",NaN,Interest,$1 - $200,dgfce
27,NaN,"$250,000",NaN,NaN,NaN,NaN
28,"DESCRIPTION: San Francisco, CA",NaN,NaN,NaN,NaN,NaN
29,City National Securities - Brokerage Money SP,"$1,001 - $15,000",NaN,Interest,"$201 - $1,000",dcfeg
30,Market Account [BA],NaN,NaN,NaN,NaN,NaN
31,Clean Energy Fuels Corp. (CLNE) [ST] SP,"$1,001 - $15,000",NaN,None,NaN,dgcfe

In [55]:
def get_column_for_regex(df, df_index, regex, start_row=0):
    number_of_columns = len(df[df_index].columns)
    number_of_rows = len(df[df_index])
    column_number = 1
    row_number = start_row
    regex_result = re.match(regex, str(df[df_index].iloc[row_number, column_number]))
    while regex_result is None and column_number < number_of_columns:
        if row_number < (number_of_rows - 1):
            # print(row_number, column_number)
            row_number += 1
        elif column_number < (number_of_columns - 1):
            # print(row_number, column_number)
            row_number = start_row
            column_number += 1
        else:
            break
        
        regex_result = re.match(regex, str(df[df_index].iloc[row_number, column_number]))
    
    if regex_result is None:
        print(f"exception raised here: {df_index}, {row_number}, {column_number}")
        raise Exception("Column not found for given regex")
    
    return column_number

In [56]:
db[8]

,asset owner,Date,tx.,amount,cap.
0,NaN,NaN,type,NaN,gains >
1,NaN,NaN,NaN,NaN,$200?
2,Salesforce.com Inc (CRM),12/30/2015,S,"$50,001 -",dbgfce
3,NaN,NaN,(partial),"$100,000",NaN
4,"DESCRIPTION: Contribution of 1,084 shares held...",NaN,NaN,NaN,NaN
5,accounts.,NaN,NaN,NaN,NaN
6,Visa Inc. (V),12/29/2015,S,"$250,001 -",ecgdbf
7,NaN,NaN,(partial),"$500,000",NaN
8,"DESCRIPTION: Sale of 5,000 Shares",NaN,NaN,NaN,NaN
9,Visa Inc. (V),12/30/2015,S,"$100,001 -",cdgefb
10,NaN,NaN,(partial),"$250,000",NaN
11,"DESCRIPTION: Contribution of 2,000 shares held...",NaN,NaN,NaN,NaN
12,accounts.,NaN,NaN,NaN,NaN
13,ScHeDule c: earneD income,NaN,NaN,NaN,NaN
14,Source type,NaN,NaN,NaN,amount
15,Financial Leasing Services Spouse Salary,NaN,NaN,NaN,N/A
16,Fairfield Associates Spouse Management Fee,NaN,NaN,NaN,N/A
17,Forty-Five Belden Corporation Spouse Managemen...,NaN,NaN,NaN,N/A
18,Isolep Enterprises Spouse Management Fee,NaN,NaN,NaN,N/A
19,Yerac Associates Spouse Management Fee,NaN,NaN,NaN,N/A
20,ScHeDule D: liabilitieS,NaN,NaN,NaN,NaN
21,owner creditor Date incurred,type,NaN,NaN,amount of
22,NaN,NaN,NaN,NaN,liability
23,JT Union Bank of California February 2002,"Mortgage on 11 Zinfandel Lane, St.",NaN,NaN,"$1,000,001 -"
24,NaN,"Helena, CA",NaN,NaN,"$5,000,000"
25,JT Union Bank of California December 2001,"Mortgage on 723 Mule Ears Court,",NaN,NaN,"$500,001 -"
26,NaN,"Norden, CA",NaN,NaN,"$1,000,000"
27,SP Union Bank of California December 2007,"Mortgage on 45 Belden Place, San",NaN,NaN,"$1,000,001 -"
28,NaN,"Francisco, CA",NaN,NaN,"$5,000,000"
29,SP Berkadia Commerical Mortgage August 2007,"Mortgage on 25 Point Lobos Avenue, San",NaN,NaN,"$1,000,001 -"
30,NaN,"Francisco, CA",NaN,NaN,"$5,000,000"
31,JT Union Bank of California April 2005,"Mortgage on 1600 Atlas Peak Road, Napa,",NaN,NaN,"$250,001 -"
32,NaN,CA,NaN,NaN,"$500,000"

In [57]:
str(db[8].iloc[24, 1])

'Helena, CA'

In [58]:
get_column_for_regex(db, 8, bounds_regex, 0)

3

In [59]:
def generate_entry(df, df_index, row, regex_result, new_db_page):
    
    description_regex = r"^description: (.+)$"
    stock_regex = r"^\s*(?!description:|location:)\s*(.*)\s*\((?!one|two)([\w | .]{1,5})\).*$"
    bounds_regex = r"^[a-zA-Z]*\s*\$?(?!\d{1,4}\/)([\d]+,?[\d]+)\s*-?\s*\$?([\d]*,?\d*).*$"
    time_regex = r"^[a-zA-z]*\s*(\d{1,2}\/\d{1,2}\/\d{2,4})\s*$"
    transaction_type_regex = r"\s*([SPsp])\s*$"
    
    row_shift_flag = False
    df_index_shift_flag = False
    prev_row = row
    prev_df_index = df_index
        
    company_name = regex_result[1].strip()
    ticker = regex_result[2].upper()
    if new_db_page:
        column_time = get_column_for_regex(df, df_index, time_regex)
    else:
        column_time = get_column_for_regex(df, df_index, time_regex, row)
    
    time_regex_result = re.match(time_regex, str(df[df_index].iloc[row, column_time]))
    
    while time_regex_result is None:
        if row == 0:
            df_index -= 1
            row = len(df[df_index]) - 1
            column_time = get_column_for_regex(df, df_index, time_regex, row-1)
        else:
            row -= 1
        time_regex_result = re.match(time_regex, str(df[df_index].iloc[row, column_time]))
    # print(df_index, row)
 
        
    # print(df_index, row, column_time)
    owner_date = pd.to_datetime(time_regex_result[1])
    
    if new_db_page:
        transaction_bounds = get_column_for_regex(df, df_index, transaction_type_regex)
    else:
        transaction_bounds = get_column_for_regex(df, df_index, transaction_type_regex, row)
        
    transaction_type = df[df_index].iloc[row, transaction_bounds]
    
    if new_db_page:
        column_bounds = get_column_for_regex(df, df_index, bounds_regex)
    else:
        column_bounds = get_column_for_regex(df, df_index, bounds_regex, row)
    bounds_regex_result = re.match(bounds_regex, df[df_index].iloc[row, column_bounds])


    # print(df[df_index].iloc[row, column_bounds])
    lower_bound = bounds_regex_result[1]
    upper_bound = ''

    if bounds_regex_result[2] == '':
        if row == len(df[df_index]) - 1:
            upper_bound = lower_bound
        else:
            regex_result = re.match(bounds_regex, str(df[df_index].iloc[row+1, column_bounds]))
            # print(df_index, row, column_bounds)
            if regex_result is None:
                upper_bound = lower_bound
            else:
                upper_bound = regex_result[1]
                

    else:
        upper_bound = bounds_regex_result[2]
        
    row = prev_row
    df_index = prev_df_index
    
    
    
    description = None
    
    location_regex = r"^location: (.+)$"
        
    row += 1
    max_row_not_hit = True
    if row >= len(df[df_index]) - 1:
        max_row_not_hit = False
    else:
        line_info = str(df[df_index].iloc[row, 0]).lower()
        location_regex_result = re.match(location_regex, line_info)
        
    
    while max_row_not_hit and (line_info == 'nan' or location_regex_result is not None):
        if len(df[df_index])-1 == row:
            max_row_not_hit = False
        else:
            row += 1
            line_info = str(df[df_index].iloc[row, 0]).lower()
            location_regex_result = re.match(location_regex, line_info)
    
    if max_row_not_hit:
        description_regex_result = re.match(description_regex, line_info)
        if description_regex_result is not None:
            description = description_regex_result[1]
            
        
    return {'Member Name': np.nan,
            'Member District': np.nan,
            'Company': company_name,
            'Ticker': ticker,
            'Type': transaction_type,
            'Date': owner_date,
            'Value Lower Bound' : lower_bound,
            'Value Upper Bound' : upper_bound,
            'Description' : description,
            'Link' : np.nan}, row

In [60]:
res = re.match(stock_regex, str(db[7].iloc[31, 0]).lower())
test_entry, row = generate_entry(db, 7, 31, res, False)
test_entry

{'Member Name': nan,
 'Member District': nan,
 'Company': 'hertz global holdings, inc',
 'Ticker': 'HTZ',
 'Type': 'P',
 'Date': Timestamp('2015-07-16 00:00:00'),
 'Value Lower Bound': '100,001',
 'Value Upper Bound': '250,000',
 'Description': 'purchase of 258 call options with a strike price of $14 and an expiration date of 1/15/16',
 'Link': nan}

In [61]:
pdf_db = pd.concat([pdf_db, pd.Series(test_entry).to_frame().T], ignore_index=True)
pdf_db

,Member Name,Member District,Company,Ticker,Type,Date,Value Lower Bound,Value Upper Bound,Description,Link
0,NaN,NaN,"hertz global holdings, inc",HTZ,P,2015-07-16 00:00:00,"100,001","250,000",purchase of 258 call options with a strike pri...,NaN

In [62]:
link_regex = r"^(\d{4})[\w_/\s\.]*_(\d+\.pdf)$"
root_link = "https://disclosures-clerk.house.gov/public_disc/financial-pdfs"
print(pdf_to_low.lower().strip())
link_regex_result = re.match(link_regex, pdf_to_low.lower().strip())
link_regex_result[1]
complete_link = root_link + "/" + link_regex_result[1] + "/" + link_regex_result[2]
print(complete_link)

2018_house_pdfs/lowenthal_alan s._10025964.pdf
https://disclosures-clerk.house.gov/public_disc/financial-pdfs/2018/10025964.pdf

In [63]:
def process_dataframe(df, pdf_path):
    
    pdf_db = pd.DataFrame(columns=['Member Name', 'Member District', 'Company', 'Ticker', 'Type', 'Date',
                      'Value Lower Bound','Value Upper Bound', 'Description', 'Link'])
    
    # description_regex = r"^description: (.+)$"
    stock_regex = r"^\s*(?!description:|location:)\s*(.*)\s*\((?!one|two)([\w | .]{1,5})\).*$"
    # bounds_regex = r"^[a-zA-Z]*\s*\$?([\d,]+)\s*-?\s*\$?([\d,]*).*$"
    honorifics_regex = r"^(hon.?|mr.?|miss|mrs.?|ms.?|dr.?|professor.?|gen.?|)\s*(.+)$"
    link_regex = r"^(\d{4})[\w_/\s\.]*_(\d+\.pdf)$"
    root_link = "https://disclosures-clerk.house.gov/public_disc/financial-pdfs"
    
    new_db_page = False

    name_regex_result = re.match(honorifics_regex, df[0].iloc[0, 1].lower())
    name = name_regex_result[2].strip()
    link_regex_result = re.match(link_regex, pdf_path.lower().strip())
    link = root_link + "/" + link_regex_result[1] + "/" + link_regex_result[2]
                             
    district = df[0].iloc[2, 1]            
    find_start_result = find_start(df)                         
    if find_start_result is None:
        return pdf_db
    
    df_index, row = find_start_result
    
    
    
    # row += 1
    stock_info = str(df[df_index].iloc[row, 0]).lower()

    while stock_info != "schedule c: earned income" and stock_info != "schedule d: liabilities":
        regex_result = re.match(stock_regex, stock_info)
        if regex_result is not None:
            result_dict, new_row = generate_entry(df, df_index, row, regex_result, new_db_page)
            result_dict['Member Name'] = name
            result_dict['Member District'] = district
            result_dict['Link'] = link
            pdf_db = pd.concat([pdf_db, pd.Series(result_dict).to_frame().T], ignore_index=True)
            
            
        if len(df[df_index].index)-1 == row:
            row = 0
            df_index += 1
            print("HELLO")
            new_db_page = True
        else:
            row += 1
        # print(stock_info)
        stock_info = str(df[df_index].iloc[row, 0]).lower()
    
    return pdf_db

In [64]:
processed_nancy = process_dataframe(db_nancy, pdf_to_nancy)

HELLO

In [65]:
procesed_nancy_2013 = process_dataframe(db, pdf_path)

HELLO

In [66]:
db[8]

,asset owner,Date,tx.,amount,cap.
0,NaN,NaN,type,NaN,gains >
1,NaN,NaN,NaN,NaN,$200?
2,Salesforce.com Inc (CRM),12/30/2015,S,"$50,001 -",dbgfce
3,NaN,NaN,(partial),"$100,000",NaN
4,"DESCRIPTION: Contribution of 1,084 shares held...",NaN,NaN,NaN,NaN
5,accounts.,NaN,NaN,NaN,NaN
6,Visa Inc. (V),12/29/2015,S,"$250,001 -",ecgdbf
7,NaN,NaN,(partial),"$500,000",NaN
8,"DESCRIPTION: Sale of 5,000 Shares",NaN,NaN,NaN,NaN
9,Visa Inc. (V),12/30/2015,S,"$100,001 -",cdgefb
10,NaN,NaN,(partial),"$250,000",NaN
11,"DESCRIPTION: Contribution of 2,000 shares held...",NaN,NaN,NaN,NaN
12,accounts.,NaN,NaN,NaN,NaN
13,ScHeDule c: earneD income,NaN,NaN,NaN,NaN
14,Source type,NaN,NaN,NaN,amount
15,Financial Leasing Services Spouse Salary,NaN,NaN,NaN,N/A
16,Fairfield Associates Spouse Management Fee,NaN,NaN,NaN,N/A
17,Forty-Five Belden Corporation Spouse Managemen...,NaN,NaN,NaN,N/A
18,Isolep Enterprises Spouse Management Fee,NaN,NaN,NaN,N/A
19,Yerac Associates Spouse Management Fee,NaN,NaN,NaN,N/A
20,ScHeDule D: liabilitieS,NaN,NaN,NaN,NaN
21,owner creditor Date incurred,type,NaN,NaN,amount of
22,NaN,NaN,NaN,NaN,liability
23,JT Union Bank of California February 2002,"Mortgage on 11 Zinfandel Lane, St.",NaN,NaN,"$1,000,001 -"
24,NaN,"Helena, CA",NaN,NaN,"$5,000,000"
25,JT Union Bank of California December 2001,"Mortgage on 723 Mule Ears Court,",NaN,NaN,"$500,001 -"
26,NaN,"Norden, CA",NaN,NaN,"$1,000,000"
27,SP Union Bank of California December 2007,"Mortgage on 45 Belden Place, San",NaN,NaN,"$1,000,001 -"
28,NaN,"Francisco, CA",NaN,NaN,"$5,000,000"
29,SP Berkadia Commerical Mortgage August 2007,"Mortgage on 25 Point Lobos Avenue, San",NaN,NaN,"$1,000,001 -"
30,NaN,"Francisco, CA",NaN,NaN,"$5,000,000"
31,JT Union Bank of California April 2005,"Mortgage on 1600 Atlas Peak Road, Napa,",NaN,NaN,"$250,001 -"
32,NaN,CA,NaN,NaN,"$500,000"

In [67]:
pd.concat([procesed_nancy_2013, processed_nancy])

,Member Name,Member District,Company,Ticker,Type,Date,Value Lower Bound,Value Upper Bound,Description,Link
0,nancy pelosi,CA12,"hertz global holdings, inc",HTZ,P,2015-07-15 00:00:00,"15,001","50,000",purchase of 42 call options with a strike pric...,https://disclosures-clerk.house.gov/public_dis...
1,nancy pelosi,CA12,"hertz global holdings, inc",HTZ,P,2015-07-16 00:00:00,"100,001","250,000",purchase of 258 call options with a strike pri...,https://disclosures-clerk.house.gov/public_dis...
2,nancy pelosi,CA12,salesforce.com inc,CRM,S,2015-12-30 00:00:00,"50,001","100,000","contribution of 1,084 shares held personally t...",https://disclosures-clerk.house.gov/public_dis...
3,nancy pelosi,CA12,visa inc.,V,S,2015-12-29 00:00:00,"250,001","500,000","sale of 5,000 shares",https://disclosures-clerk.house.gov/public_dis...
4,nancy pelosi,CA12,visa inc.,V,S,2015-12-30 00:00:00,"100,001","250,000","contribution of 2,000 shares held personally t...",https://disclosures-clerk.house.gov/public_dis...
0,nancy pelosi,CA12,"amazon.com, inc.",AMZN,P,2019-07-22 00:00:00,"500,001","1,000",purchased 20 call options with a strike price ...,https://disclosures-clerk.house.gov/public_dis...
1,nancy pelosi,CA12,bf enterprises common stock new,BFET,S,2019-02-07 00:00:00,"1,001","15,000",final cash liquidation initiated by corporation.,https://disclosures-clerk.house.gov/public_dis...
2,nancy pelosi,CA12,"netflix, inc.",NFLX,P,2019-07-05 00:00:00,"250,001","500,000",purchased 20 call options with a strike price ...,https://disclosures-clerk.house.gov/public_dis...
3,nancy pelosi,CA12,"netflix, inc.",NFLX,P,2019-07-22 00:00:00,"100,001","250,000",purchased 30 call options with a strike price ...,https://disclosures-clerk.house.gov/public_dis...
4,nancy pelosi,CA12,salesforce.com inc,CRM,P,2019-06-14 00:00:00,"50,001","100,000",purchased 20 call options with a strike price ...,https://disclosures-clerk.house.gov/public_dis...
5,nancy pelosi,CA12,salesforce.com inc,CRM,P,2019-06-18 00:00:00,"100,001","250,000",purchased 80 call options with a strike price ...,https://disclosures-clerk.house.gov/public_dis...
6,nancy pelosi,CA12,visa inc.,V,S,2019-08-07 00:00:00,"100,001","250,000","sale of 1,000 shares",https://disclosures-clerk.house.gov/public_dis...
7,nancy pelosi,CA12,visa inc.,V,S,2019-08-07 00:00:00,"100,001","250,000","sale of 1,000 shares",https://disclosures-clerk.house.gov/public_dis...

In [68]:
list_of_pdf_paths[:-1]

('2015_house_pdfs/Pelosi_Nancy_10010857.pdf',
 '2015_house_pdfs/Wilson_Joe_10012512.pdf',
 '2019_house_pdfs/Pelosi_Nancy_10035243.pdf',
 '2019_house_pdfs/Wasserman Schultz_Debbie_10037015.pdf')

In [69]:
def scrap_and_process(pdf_paths_list):
    unprocessed_db = scrape_pdf(pdf_paths_list[0])
    final_db = process_dataframe(unprocessed_db, pdf_paths_list[0])
    for pdf_path in pdf_paths_list[1:]:
        unprocessed_db = scrape_pdf(pdf_path)
        processed_db = process_dataframe(unprocessed_db, pdf_path)
        final_db = pd.concat([final_db, processed_db])
        
    return final_db

In [70]:
test_df = scrap_and_process(list_of_pdf_paths)

HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO

In [71]:
test_df["Link"].iloc[150]

'https://disclosures-clerk.house.gov/public_disc/financial-pdfs/2018/10025964.pdf'

In [72]:
tmp = scrape_pdf(pdf_to_low)

In [73]:
tmp[32]

,asset,owner,Date,tx.,amount,cap.
0,NaN,NaN,NaN,type,NaN,gains >
1,NaN,NaN,NaN,NaN,NaN,$200?
2,NaN,NaN,NaN,NaN,NaN,efdcg
3,Oracle Corporation (ORCL) [ST],NaN,NaN,(partial),NaN,NaN
4,Neuberger Berman - Traditional IRA ⇒,SP,03/1/2018,S,"$1,001 - $15,000",cefdg
5,Oracle Corporation (ORCL) [ST],NaN,NaN,NaN,NaN,NaN
6,Neuberger Berman - Traditional IRA ⇒,SP,07/20/2018,P,"$1,001 - $15,000",NaN
7,"Red Hat, Inc. (RHT) [ST]",NaN,NaN,NaN,NaN,NaN
8,Neuberger Berman - Traditional IRA ⇒,SP,08/29/2018,P,"$1,001 - $15,000",NaN
9,"Red Hat, Inc. (RHT) [ST]",NaN,NaN,NaN,NaN,NaN
10,Neuberger Berman - Traditional IRA ⇒,SP,04/27/2018,P,"$15,001 - $50,000",NaN
11,Sempra Energy (SRE) [ST],NaN,NaN,NaN,NaN,NaN
12,Neuberger Berman - Traditional IRA ⇒,SP,04/30/2018,P,"$1,001 - $15,000",NaN
13,Sempra Energy (SRE) [ST],NaN,NaN,NaN,NaN,NaN
14,DESCRIPTION: I bought some of this stock on 4/...,NaN,NaN,NaN,NaN,NaN
15,Neuberger Berman - Traditional IRA ⇒,SP,10/24/2018,P,"$1,001 - $15,000",NaN
16,Sempra Energy (SRE) [ST],NaN,NaN,NaN,NaN,NaN
17,Neuberger Berman - Traditional IRA ⇒,SP,10/25/2018,P,"$1,001 - $15,000",NaN
18,Sempra Energy (SRE) [ST],NaN,NaN,NaN,NaN,NaN
19,Neuberger Berman - Traditional IRA ⇒,SP,08/20/2018,P,"$1,001 - $15,000",NaN
20,Sunrun Inc. (RUN) [ST],NaN,NaN,NaN,NaN,NaN
21,Neuberger Berman - Traditional IRA ⇒,SP,12/21/2018,P,"$1,001 - $15,000",NaN
22,Sunrun Inc. (RUN) [ST],NaN,NaN,NaN,NaN,NaN
23,Neuberger Berman - Traditional IRA ⇒,SP,12/24/2018,P,"$1,001 - $15,000",NaN
24,Sunrun Inc. (RUN) [ST],NaN,NaN,NaN,NaN,NaN
25,Neuberger Berman - Traditional IRA ⇒,SP,12/26/2018,P,$532.97,NaN
26,Sunrun Inc. (RUN) [ST],NaN,NaN,NaN,NaN,NaN
27,Neuberger Berman - Traditional IRA ⇒,SP,03/7/2018,P,"$15,001 - $50,000",NaN
28,UnitedHealth Group Inc [CS],NaN,NaN,NaN,NaN,NaN
29,"DESCRIPTION: Maturity date is 7/15/2020, inter...",NaN,NaN,NaN,NaN,NaN
30,Neuberger Berman - Traditional IRA ⇒,SP,01/2/2018,S,"$1,001 - $15,000",gcdfe
31,UnitedHealth Group Incorporated Common Stock (...,NaN,NaN,(partial),NaN,NaN
32,[ST],NaN,NaN,NaN,NaN,NaN

In [74]:
testing_csv_write = process_dataframe(tmp, pdf_to_low)

HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO

In [75]:
os.listdir("2015_house_pdfs")

['Cooper_Jim_9109724.pdf',
 'Moulton_Seth_10013302.pdf',
 'Adams_Boyce_9106272.pdf',
 'Delaney_John K._9109865.pdf',
 'Thomas_Mary_30001611.pdf',
 'Kelly_Mike_9107952.pdf',
 'Geissinger_Glenn A._10008604.pdf',
 'DesJarlais_Scott_10010568.pdf',
 'Roberson_Michael_30001606.pdf',
 'Brooks_Susan W._20002969.pdf',
 'Black_Diane_9110280.pdf',
 'Collins_Chris_9109104.pdf',
 'Veasey_Marc A._10013013.pdf',
 'Rogers_Harold Dallas_9109430.pdf',
 'Serrano_José E._10013212.pdf',
 'Matsui_Doris O._9109470.pdf',
 'Lowenthal_Alan S._20002982.pdf',
 'LaHood_Darin McKay_9106878.pdf',
 'Sol-Gutierrez_Ana_9107251.pdf',
 'Ruiz_Raul_10015915.pdf',
 'Duckworth_Tammy_20004004.pdf',
 'Boehner_John A._10009093.pdf',
 'Matthews_Kathleen_9107542.pdf',
 'Townsend_Bryan_10009260.pdf',
 'Palmer_Gary_10010836.pdf',
 'Kennedy_Joseph P._9111204.pdf',
 'Canada_Mike_10009727.pdf',
 'Buchanan_Vern_20004113.pdf',
 'Jenkins_Lynn_10012608.pdf',
 'Pittenger_Robert_30001864.pdf',
 'Appleby_Alexander E._9108466.pdf',
 'DesJarlais_Scott_30002127.pdf',
 'Pelosi_Nancy_10012829.pdf',
 'Peters_Scott H._30002053.pdf',
 'Delaney_John K._9106478.pdf',
 'Kinzler_Gordon (Jay)_9107939.pdf',
 "Deuser_August (O'Neill)_10009372.pdf",
 'Perez_Connie_9107865.pdf',
 'Frankel_Lois_20003272.pdf',
 'Johnson_Lonnie Barton_9107872.pdf',
 'Evans_Dwight_10014304.pdf',
 'Clark_Katherine M._20002598.pdf',
 'Graves_Garret_30002362.pdf',
 'Yarmuth_John A._10013130.pdf',
 'Holding_George_20003874.pdf',
 'Smith_Lamar_20002840.pdf',
 'Doggett_Lloyd_30001857.pdf',
 'Whitfield_Ed_10011437.pdf',
 'Foster_Bill William_10010401.pdf',
 'Anderson_Stephanie Ms_9108239.pdf',
 'Farr_Sam_9107759.pdf',
 'McDermott_Jim_20003913.pdf',
 'Gibbs_Bob_20004168.pdf',
 'Lawrence_Brenda Lulenar_10013233.pdf',
 'DelBene_Suzan K._20002643.pdf',
 'Smith_Lamar_20003903.pdf',
 'Lowenthal_Alan S._20004303.pdf',
 'Davis_Danny K._10011361.pdf',
 'Young_Don_9109198.pdf',
 'Trott_David A._20004177.pdf',
 'Barr_Garland "Andy"_9107923.pdf',
 'Frankel_Lois_20003137.pdf',
 'Hardy_Cresent L._10010541.pdf',
 'Pelosi_Nancy_10010857.pdf',
 'Flores_Bill_20002702.pdf',
 'Follweiler_Archie_9107719.pdf',
 'Himes_James A._30001959.pdf',
 'Pappas_George Steve_9108090.pdf',
 'Ramirez_Rita_9108391.pdf',
 'Cohen_Steve_20004150.pdf',
 'Kinzler_Gordon (Jay)_9107943.pdf',
 'Marsicano_Michael Paul_10008262.pdf',
 'McKinley_David B._20003192.pdf',
 'Rucker_Austin Jonathan_9106900.pdf',
 'DelBene_Suzan K._20003326.pdf',
 'LaHood_Darin McKay_10007196.pdf',
 'Swalwell_Eric_9108047.pdf',
 'Collins_Chris_9108077.pdf',
 'Conaway_K. Michael_20003352.pdf',
 'Rohrabacher_Dana_30002141.pdf',
 'Bachmann_Michele_9106040.pdf',
 'Walters_Mimi_9108831.pdf',
 'Polis_Jared_9106468.pdf',
 'Gaskins_Samuel Lewis_10007528.pdf',
 'Roe_David P._9109551.pdf',
 'Granger_Kay_10013394.pdf',
 'Bera_Ami_10011070.pdf',
 'Shuster_Bill_9110098.pdf',
 'Shea-Porter_Carol_10004863.pdf',
 'Price_Tom_9108195.pdf',
 'Rotering_Nancy Rodkin_9107597.pdf',
 'Renacci_James B._9107140.pdf',
 'Boehner_John A._20002923.pdf',
 'Delaney_John K._9107122.pdf',
 'Krishnamoorthi_S. Raja_9107437.pdf',
 'Wilson_Frederica S._10011687.pdf',
 'Frelinghuysen_Rodney P._9107580.pdf',
 'Thompson_Bennie G._10013338.pdf',
 'Marchant_Kenny_9108054.pdf',
 'Renacci_James B._9107904.pdf',
 'McFall_Jerald Steve_9107065.pdf',
 'Schrader_Kurt_9105975.pdf',
 'Lynch_Matt_10008197.pdf',
 'Thomas_Kathi_10009690.pdf',
 'Marino_Thomas A._9108980.pdf',
 'Hinojosa_Rubén_20003471.pdf',
 'Buchanan_Vern_20002966.pdf',
 'Larson_John B._9106562.pdf',
 'Thompson_Mike_9109202.pdf',
 'Rubin_Joel Martin_10008848.pdf',
 'Southerland_Steve_9106021.pdf',
 'Gutierrez_Luis V._10013839.pdf',
 'Joyce_David P._9109834.pdf',
 'Marchant_Kenny_9107634.pdf',
 'Brooks_Janis C._9108167.pdf',
 'Neugebauer_Randy_20002926.pdf',
 'Achadjian_Katchik_9106551.pdf',
 'Castro_Joaquin_9109672.pdf',
 'Davis_Susan A._10010438.pdf',
 'Black_Diane_9106250.pdf',
 'Marchant_Kenny_9107689.pdf',
 'Rice_Tom_10010920.pdf',
 'Caraway_Barbara Len Mallory_10008917.pdf',
 'Morgan_Yuripzy_40000408.pdf',
 'Scott_Robert C. "Bobby"_9108973.pdf',
 'Black_Diane_9107348.pdf',
 'Swalwell_Eric_9106279.pdf',
 'Gilbert_Melissa_10008572.pdf',
 'Scalise_Steve_10013706.pdf',
 'Muroff_Daniel_10008621.pdf',
 'Schrader_Kurt_9107589.pdf',
 'Cummings_Elijah E._10012919.pdf',
 'Latham_Tom_9106039.pdf',
 'Payne_Donald M._10011713.pdf',
 'Costello_Ryan A._9114350.pdf',
 'Bass_Karen_30002594.pdf',
 'Neal_Richard E._10011522.pdf',
 'DelBene_Suzan K._20004186.pdf',
 'Dent_Charles W._9106266.pdf',
 'Hastings_Alcee L._9109120.pdf',
 'Kelly_John Trent_10011514.pdf',
 'Mitchell_Paul_9107489.pdf',
 'Hurd_William_10027664.pdf',
 'Trott_David A._20003538.pdf',
 'Gutierrez_Luis V._30002305.pdf',
 'Holloway_Lashonda J._9108035.pdf',
 'Heck_Denny_9108982.pdf',
 'Galloway_Pamela Gail_30001512.pdf',
 'MacArthur_Thomas_20004178.pdf',
 'Jones_Scott_9108509.pdf',
 'Jolly_David W._9110221.pdf',
 'Bangstad_Kirk_30001563.pdf',
 'Lance_Leonard_30001945.pdf',
 'Beyer_Donald Sternoff_10013294.pdf',
 'Curbelo_Carlos_30001954.pdf',
 'Black_Diane_9108105.pdf',
 'Collins_Doug_10011519.pdf',
 'Kuster_Ann M._9109171.pdf',
 'Simpson_Michael K._20002370.pdf',
 'Rokita_Todd_9108932.pdf',
 'Ashford_Brad_20002776.pdf',
 'Butterfield_G. K._10010194.pdf',
 'Fleischmann_Charles J. "Chuck"_9107513.pdf',
 'Scott_Robert C. "Bobby"_9109517.pdf',
 'Duncan_Jeff_10010547.pdf',
 'Beyer_Donald Sternoff_10013854.pdf',
 'Garcia_Dominique Michelle_10009255.pdf',
 'Rogers_Mike_9106467.pdf',
 'Heinz_Matthew Gerald_10008549.pdf',
 'Graves_Garret_10012464.pdf',
 'Price_Tom_9108050.pdf',
 'Rogers_Harold Dallas_9108019.pdf',
 'Gingrey_Phil_9106001.pdf',
 'Pittenger_Robert_9108734.pdf',
 'Doggett_Lloyd_20004206.pdf',
 'Womack_Steve_20003066.pdf',
 'Frankel_Lois_10010146.pdf',
 'McMorris Rodgers_Cathy_10011119.pdf',
 'Kline_John_10010734.pdf',
 'Becerra_Xavier_10015249.pdf',
 'Shaver_Robert Michael_9108498.pdf',
 'Whitfield_Ed_10013697.pdf',
 'Price_David E._20003611.pdf',
 'Kelly_Mike_9107916.pdf',
 'Hastings_Doc_9105954.pdf',
 'Bustos_Cheri_10016627.pdf',
 'Crist_Charlie Joseph_9110843.pdf',
 'Collins_Chris_9107387.pdf',
 'Simpson_Michael K._10013619.pdf',
 'Craig_Angela Dawn_9107461.pdf',
 'Willis_Colm_10009285.pdf',
 'Anderson_David M._9107623.pdf',
 'Rogers_Harold Dallas_9108975.pdf',
 'Duncan_James_9106429.pdf',
 'Buck_Kenneth R._10011756.pdf',
 'Barringer_Adam_30001649.pdf',
 'Cotton_Tom_9105818.pdf',
 'Edwards_Donna F._10011933.pdf',
 'Anthony_Malcolm_10009453.pdf',
 'Smith_Adam_10010064.pdf',
 'Mulvaney_Mick_10012456.pdf',
 'Lance_Leonard_9108075.pdf',
 'Forbes_J. Randy_9109943.pdf',
 'Brady_Robert A._10012035.pdf',
 'Yoder_Shelli_10008628.pdf',
 'Guthrie_Brett_9106096.pdf',
 'Renacci_James B._9106236.pdf',
 'Griffin_Tim_9106410.pdf',
 'Derlet_Robert Wayne_9107774.pdf',
 'Langevin_James R._10010940.pdf',
 'Perkins_Jo Rae_40000368.pdf',
 'Brady_Robert A._9109658.pdf',
 'Bennett_Luann_30001694.pdf',
 'Larson_John B._9108097.pdf',
 'Miller_Jeff_10010216.pdf',
 'Daines_Steve_9105820.pdf',
 'Clark_Katherine M._20003057.pdf',
 'Minning_Dena Marie_10008532.pdf',
 'Flores_Bill_20004110.pdf',
 'Price_Tom_9105977.pdf',
 'Nolan_Richard M._9109186.pdf',
 'Grijalva_Raúl M._20002639.pdf',
 'Kennedy_Joseph P._9108098.pdf',
 'Brownley_Julia_10010870.pdf',
 'Fareed_Justin_9107063.pdf',
 'Guthrie_Brett_9109119.pdf',
 'Sadoff_Eli David_9108119.pdf',
 'Flores_Bill_20004112.pdf',
 'Dold_Robert James_9109736.pdf',
 'Wasserman Schultz_Debbie_20003704.pdf',
 'Clark_Katherine M._20002828.pdf',
 'Gottheimer_Josh_9107508.pdf',
 'Blackburn_Marsha_9108838.pdf',
 'Westerman_Bruce_9109195.pdf',
 'Langevin_James R._30002324.pdf',
 'Plaskett_Stacey_10012313.pdf',
 'Brat_David Alan_9109065.pdf',
 'Ashford_Brad_20003534.pdf',
 'Kroeger_Gary_9107060.pdf',
 'Roby_Martha_30002249.pdf',
 'Hanna_Richard L._10010291.pdf',
 'Thomas_Kathi_10009691.pdf',
 'Welch_Peter_9108018.pdf',
 'Beatty_Joyce_10011959.pdf',
 'Hawks_Paula_9107646.pdf',
 'Veasey_Marc A._9108832.pdf',
 'Quigley_Mike_9109191.pdf',
 'Lee_Yungman F._10012521.pdf',
 'Schock_Aaron_9107195.pdf',
 'Burgess_Michael C._10011404.pdf',
 'Starrett_Grant_9107476.pdf',
 'Gibbs_Bob_20003051.pdf',
 'Kelly_Mike_9107512.pdf',
 'Roe_David P._9109518.pdf',
 'Castor_Kathy_20003116.pdf',
 'Maloney_James_10009410.pdf',
 'Lowenthal_Alan S._20002395.pdf',
 'Flores_Bill_20003520.pdf',
 'MacArthur_Thomas_20003902.pdf',
 'Lowenthal_Alan S._20002861.pdf',
 'Schrader_Kurt_9107420.pdf',
 'Davidson_Allen Ray_10009389.pdf',
 'Barr_Garland "Andy"_9107279.pdf',
 'Hudson_Richard_9109121.pdf',
 'Mowery_Tod_10008220.pdf',
 'Polis_Jared_9106242.pdf',
 'Rich_Roy_40000398.pdf',
 'Roe_David P._9106241.pdf',
 'Meng_Grace_20003123.pdf',
 'Barletta_Lou_20002550.pdf',
 'Flores_Bill_20004223.pdf',
 'Reed_Tom_10011507.pdf',
 'Plumb_John_10008948.pdf',
 'Filak_Michael A._9108396.pdf',
 'Rangel_Charles B._10012270.pdf',
 'Capuano_Michael E._10010160.pdf',
 'Bonamici_Suzanne_9110847.pdf',
 'Posey_Bill_9109577.pdf',
 'Honda_Michael M._9110486.pdf',
 'Gibbs_Bob_10012140.pdf',
 'Green_Gene_9109117.pdf',
 'Gerritson_Rebecca (Becky) Marie_10008828.pdf',
 'Marchant_Kenny_9109827.pdf',
 'Hice_Jody_9108921.pdf',
 'Terry_Lee_9106863.pdf',
 'Polis_Jared_9105978.pdf',
 'White_Kevin Francis_40000388.pdf',
 'Vernon_Monica W._9106625.pdf',
 'Larsen_Rick_10011484.pdf',
 'Hinojosa_Rubén_10010611.pdf',
 'Palacios_Juan Sonny_9108207.pdf',
 'Holding_George_9106401.pdf',
 'Nance_Kathryn D._9106304.pdf',
 'Foxx_Virginia_20002821.pdf',
 'Cargas_James P._10009390.pdf',
 'Lofgren_Zoe_10009952.pdf',
 'Willmert_Andrew Richard_10009278.pdf',
 'Kehoe_John Patrick Mr_9107773.pdf',
 'LaMalfa_Doug_10011341.pdf',
 'Poliquin_Bruce L._9108977.pdf',
 'Lopez_Peter D._6133.pdf',
 'Schweikert_David_9110203.pdf',
 'Lankford_James_9105817.pdf',
 'Gallego_Pete P._10006899.pdf',
 'Ash_Jim_10009351.pdf',
 'Thomas_Kathleen_9108031.pdf',
 'Grijalva_Raúl M._20003293.pdf',
 'Burgess_Michael C._30001956.pdf',
 'Baricevic_Charles John_10007059.pdf',
 'Craig_Angela Dawn_9106522.pdf',
 'McCollum_Betty L._10011062.pdf',
 'Lieu_Ted_10029064.pdf',
 'Beagle_William D._9108294.pdf',
 'Trott_David A._20002445.pdf',
 'Hill_Randal_30001596.pdf',
 'Vela_Filemon_9109830.pdf',
 'Norton_Eleanor Holmes_20002500.pdf',
 'Taylor_Priscilla Ann_10006979.pdf',
 'Davis_Dereck Eugene_10007991.pdf',
 'Desaulnier_Mark_10011267.pdf',
 'McDevitt_David Malcolm Mr_10022288.pdf',
 'Loebsack_David_9109755.pdf',
 'Chicon_Martin_9108136.pdf',
 'Mensing_Dale Kenneth_9107114.pdf',
 'Dent_Charles W._10012748.pdf',
 'Wagner_Ann_9107119.pdf',
 'Hahn_Janice_10013264.pdf',
 'Womack_Steve_20003972.pdf',
 'Vince_Lou_10008010.pdf',
 'Barringer_Adam_30001555.pdf',
 'Boehner_John A._20003400.pdf',
 'Duome_Marc_9108212.pdf',
 'Speier_Jackie_9106201.pdf',
 'Delaney_John K._9107433.pdf',
 'Paulsen_Erik_9105895.pdf',
 'Scott_Elizabeth_10008134.pdf',
 'Van Hollen_Chris_9107955.pdf',
 'Calone_David L._10007101.pdf',
 'Roderick_Steve_9107963.pdf',
 'Fahmy_Fatima Rita_30001684.pdf',
 'Doggett_Lloyd_20003229.pdf',
 'Doyle_Michael F._10010605.pdf',
 'Stovall_Dwayne_9108001.pdf',
 'Hanabusa_Colleen W._10004779.pdf',
 'Bensmihen_Joseph_30001414.pdf',
 'Roberson_Michael_10008302.pdf',
 'Collins_Chris_9105969.pdf',
 'Gibson_Mark_9108500.pdf',
 'Hart_James Lee_9107108.pdf',
 'Polis_Jared_9107677.pdf',
 'Mitchell_Monte Mark_10009675.pdf',
 'Collins_Chris_9106214.pdf',
 'Denham_Joe_9108113.pdf',
 'Holding_George_9108159.pdf',
 'Hartzler_Vicky_9108835.pdf',
 'Morgan_Yuripzy_10009793.pdf',
 'Horst_John H._10018220.pdf',
 'Elizondo_Dolly_9108397.pdf',
 'Conyers_John_9108668.pdf',
 'Chappelle-Nadal_Maria_9107940.pdf',
 'Marchant_Kenny_9106120.pdf',
 'Cohen_Steve_20003368.pdf',
 'Labrador_Raúl R._10012012.pdf',
 'Black_Diane_9106899.pdf',
 'Shuster_Bill_10010712.pdf',
 'Holt_Rush_10004745.pdf',
 'Wright_Keith L T_30001595.pdf',
 'Rogers_Harold Dallas_9107262.pdf',
 'Dold_Robert James_10011939.pdf',
 'Welch_Peter_9108091.pdf',
 'Gibson_Mark_10009680.pdf',
 'Smucker_Lloyd K._40000448.pdf',
 'Kelly_Mike_9108156.pdf',
 'Rigell_E. Scott_10010741.pdf',
 'Frankel_Lois_20003442.pdf',
 'Flores_Bill_20002703.pdf',
 'Blum_Rodney Leland_10013701.pdf',
 'Scott_Robert C. "Bobby"_10012918.pdf',
 'Curran_Patricia Margaret_10006500.pdf',
 'Barr_Garland "Andy"_9109061.pdf',
 'Eggman_Michael Ray_9107490.pdf',
 'Cohen_Steve_9106554.pdf',
 'Day_Thomas_10008860.pdf',
 'Michaud_Michael H._9106155.pdf',
 'Neugebauer_Randy_20003251.pdf',
 'Vargas_Juan_10010637.pdf',
 'Schott_Lynn_9107799.pdf',
 'Schott_Lynn_40000338.pdf',
 'Issa_Darrell E._30002048.pdf',
 'Carney_John C._10013574.pdf',
 'Cleaver_Emanuel_10011587.pdf',
 'Marino_Thomas A._9109503.pdf',
 'Frankel_Lois_20002588.pdf',
 'Castillo_Christopher_10008055.pdf',
 'Roseman_Jeffrey Lee_9109418.pdf',
 'Valle_John Paul_9108436.pdf',
 'McIntyre_Mike_10004737.pdf',
 'Frelinghuysen_Rodney P._9107797.pdf',
 'Delaney_John K._9106129.pdf',
 'Clawson_Curtis J._9108028.pdf',
 'Hurst_David Alln_9108465.pdf',
 'Johnson_Sam_10009864.pdf',
 'Foxx_Virginia_20003697.pdf',
 'Winfrey_Janice Marie_9107798.pdf',
 'Israel_Steve_10011238.pdf',
 'Chane_Jonathan_30001608.pdf',
 'Valadao_David G._10013471.pdf',
 'Becker_Julie C._9108146.pdf',
 'Watson_Lupe Ramos_9107094.pdf',
 'Rogers_Mike_9109193.pdf',
 'Jenkins_Evan H._9110039.pdf',
 'Black_Diane_9110279.pdf',
 'Derrick_William Mike_30001614.pdf',
 'McNerney_Jerry_10011121.pdf',
 'Gordon_Brian Anthony_9108089.pdf',
 'Hanna_Richard L._20003563.pdf',
 'Willmert_Andrew Richard_10009275.pdf',
 'Walberg_Tim_10010481.pdf',
 'Roe_David P._9107609.pdf',
 'Pena-Melnyk_Joseline A._10006073.pdf',
 'Polis_Jared_9106054.pdf',
 'Deacon_Colleen_10009452.pdf',
 'Marchant_Kenny_9111643.pdf',
 'Wilson_Joe_10010556.pdf',
 'Becerra_Xavier_10013156.pdf',
 'Theron_Daniel Peter_10009133.pdf',
 'Johnson_Eddie Bernice_10011502.pdf',
 'Curran_Patricia Margaret_10006508.pdf',
 'Kilmer_Derek_10011475.pdf',
 'Waxman_Henry A._10004829.pdf',
 'Huffman_Jared_30002137.pdf',
 'Assini_Mark W._10009707.pdf',
 'Kihuen_Ruben_10011636.pdf',
 'Banks_James E._10007965.pdf',
 'Crist_Charlie Joseph_9109794.pdf',
 'McDermott_Jim_20002387.pdf',
 'Lowenthal_Alan S._20002538.pdf',
 'Mills_Stewart Mr_10008802.pdf',
 'Frelinghuysen_Rodney P._9108059.pdf',
 'Renacci_James B._9109184.pdf',
 'Hanna_Richard L._30001783.pdf',
 'Gallego_Pete_30001106.pdf',
 'Coleman_Lynn Carnell_30001705.pdf',
 'Black_Diane_9110282.pdf',
 'Cage_Ericke_9108114.pdf',
 'Trott_David A._20003323.pdf',
 'Larson_John B._9106069.pdf',
 'Hartman_Christina Marie Ms_9107396.pdf',
 'Adler_Amber Lashelle_9106902.pdf',
 'Bonamici_Suzanne_10010910.pdf',
 'Lawrence_Mary_9106865.pdf',
 'John_Robert E._9107642.pdf',
 'Salmon_Matt_9108671.pdf',
 'Black_Diane_9107696.pdf',
 'Taddeo_Annette_9106461.pdf',
 'Abraham_Ralph Lee_10010992.pdf',
 'Clark_Katherine M._20002484.pdf',
 'Ryan_Paul D._10010981.pdf',
 'Kennedy_Joseph P._9107364.pdf',
 'Cooper_Jim_9108735.pdf',
 'Howard_Frank_10008521.pdf',
 'Garrett_Gregory Keith_30001671.pdf',
 'Paulsen_Erik_9109187.pdf',
 'Norton_Eleanor Holmes_10010268.pdf',
 'Wolf_Frank R._9105951.pdf',
 'Titus_Dina_9108936.pdf',
 'Fleischmann_Charles J. "Chuck"_9107637.pdf',
 'Cardenas_Tony_30002022.pdf',
 'Throne-Holst_Anna_10008084.pdf',
 'Price_David E._20003800.pdf',
 'Palazzo_Steven M._30002222.pdf',
 'Foxx_Virginia_20002345.pdf',
 'Conaway_K. Michael_20002307.pdf',
 'Hice_Jody_9111527.pdf',
 'Vowell_Edward F._10008364.pdf',
 'Harris_Andy_9109700.pdf',
 'Hollingsworth_Trey_9108335.pdf',
 'Moore_Gwen_9109180.pdf',
 'Albarran_Charlene M._10009737.pdf',
 'Gibbs_Bob_20004285.pdf',
 'Slavens_John Calvin_10006545.pdf',
 'Kelly_Mike_9107660.pdf',
 'Dingell_Debbie_20003788.pdf',
 'Long_Billy_9109175.pdf',
 'Schiff_Adam B._10012042.pdf',
 'Enyart_William L._10005992.pdf',
 'DeFazio_Peter A._10009933.pdf',
 'Ratcliffe_John Lee_10011134.pdf',
 'Sensenbrenner_F. James_9108647.pdf',
 'Schrader_Kurt_9109094.pdf',
 'Delaney_John K._9107986.pdf',
 'Cooper_Jim_9106477.pdf',
 'Hanna_Richard L._20004073.pdf',
 'Conaway_K. Michael_20003203.pdf',
 'Lamborn_Doug_9109170.pdf',
 'Richmond_Cedric L._9109828.pdf',
 'Swalwell_Eric_9109100.pdf',
 'Lowenthal_Alan S._20002447.pdf',
 'Deutch_Theodore E._9109107.pdf',
 'Westley_Timmy Lee_9108399.pdf',
 'McCarthy_Carolyn_30000795.pdf',
 'Sanders_Jaime_9108520.pdf',
 'Delaney_John K._9108639.pdf',
 'Reigle_Hans_30001210.pdf',
 'Blumenauer_Earl_20002585.pdf',
 'Bartley_Lori Anita Mrs_10008548.pdf',
 'Lieber_Arthur H._9108377.pdf',
 'Conaway_K. Michael_10010275.pdf',
 'Maloney_Sean Patrick_10011542.pdf',
 'Horne_Jenny A._30001687.pdf',
 'Walker_Bradley Mark_10011435.pdf',
 'Pate_Ava_40000430.pdf',
 'Flynn_Michael_9106253.pdf',
 'Holbrook_Mark Irving_10009777.pdf',
 'Fortenberry_Jeff_10011563.pdf',
 'Reed_Wendy_10009345.pdf',
 'Wilson_Joe_10012512.pdf',
 'Rokita_Todd_10014683.pdf',
 'Driskell_Gretchen_30001147.pdf',
 'Emmer_Thomas Earl_9107576.pdf',
 'Morrison_Terrance_10008622.pdf',
 'Holbrook_Mark Irving_9108184.pdf',
 'Achadjian_Khatchik_9107624.pdf',
 'Delaney_John K._9107856.pdf',
 'Cheng_Xiangfei Scott_10004800.pdf',
 'Zeldin_Lee Michael_10010042.pdf',
 'Coleman_Bonnie Watson_9109200.pdf',
 'Wasserman Schultz_Debbie_30001821.pdf',
 'Brownley_Julia_10017888.pdf',
 'Curbelo_Carlos_20003731.pdf',
 'Blumenauer_Earl_20003355.pdf',
 'Nikpour_Noelle_9107620.pdf',
 'Jaquess_Donald Max_9107394.pdf',
 'Mulvaney_Mick_20002498.pdf',
 'Lance_Leonard_10013888.pdf',
 'Santarsiero_Steven J._10007114.pdf',
 'Sbaih_Jesse_10009219.pdf',
 'Hensarling_Jeb_10011573.pdf',
 'Conaway_K. Michael_20003907.pdf',
 'Adams_David Andrew_9108238.pdf',
 'Rangel_Charles B._9108976.pdf',
 'Huizenga_Bill_9109519.pdf',
 'Honda_Michael M._10011618.pdf',
 'Black_Diane_9107496.pdf',
 'Katko_John M._10011337.pdf',
 'Kingston_Jack_9107228.pdf',
 'Kennedy_Joseph P._9107659.pdf',
 'Flores_Lucy_10008552.pdf',
 'Gibson_Christopher P._9109113.pdf',
 'Hurst_David Alln_9108709.pdf',
 'Sewell_Terri A._10013947.pdf',
 'Toth_Steve_10009625.pdf',
 'Schweikert_David_9115340.pdf',
 'Law_Philip Joseph_10005131.pdf',
 "O'Connor_Shawn Patrick_9107644.pdf",
 'Joyce_David P._9108261.pdf',
 'Lopez_Peter D._10009630.pdf',
 'Nightenhelser_Todd Alan_9108357.pdf',
 'Fleming_John_10010514.pdf',
 'Welch_Peter_9107844.pdf',
 'Farr_Sam_10011289.pdf',
 'Price_Tom_9107076.pdf',
 'Juneau_Denise_10009203.pdf',
 'Price_David E._20004040.pdf',
 'Castor_Kathy_10010421.pdf',
 'Roe_David P._9108049.pdf',
 'Bircher_Mark William_9108116.pdf',
 'Engel_Eliot L._10012523.pdf',
 'Conaway_K. Michael_20002832.pdf',
 'LoBiondo_Frank A._10010261.pdf',
 'Strauss_Raymond John_10009266.pdf',
 'Price_David E._9106475.pdf',
 'Ashford_Brad_20003185.pdf',
 'Flores_Bill_20002378.pdf',
 'Polis_Jared_9107633.pdf',
 'Graham_Gwen_10014056.pdf',
 'Murdock_Brett_9108109.pdf',
 'Lowey_Nita M._20002754.pdf',
 'Clarke_Yvette D._30002301.pdf',
 'Boehner_John A._20002785.pdf',
 'Cheng_Xiangfei Scott_10005455.pdf',
 'Tagert_Mike_10005149.pdf',
 'Donovan_Daniel M._10010678.pdf',
 'McDevitt_David Malcolm Mr_10022296.pdf',
 'Gallagher_Michael_10007296.pdf',
 'Schneider_Bradley S._9105880.pdf',
 'Lieu_Ted_10013723.pdf',
 'Cassidy_William M._20003626.pdf',
 'Sanchez_Loretta_9109095.pdf',
 'Takai_Mark Mark_10010430.pdf',
 'Farenthold_Blake_10013583.pdf',
 'Rogers_Mike_9109485.pdf',
 'Clawson_Curtis J._9107638.pdf',
 'Dingell_Debbie_9106175.pdf',
 'Xuna_John_10006410.pdf',
 'McCaul_Michael T._9106277.pdf',
 'Cohen_Steve_9106568.pdf',
 'Roderick_Steve_9108213.pdf',
 'Renacci_James B._9107424.pdf',
 'Conaway_K. Michael_20003518.pdf',
 'Noland_Michael_30001514.pdf',
 'Huelskamp_Tim_10010602.pdf',
 'Costa_Jim M._10010810.pdf',
 'Gohmert_Louie_9109114.pdf',
 'Tuttle_Bailey Wayne_9107891.pdf',
 'Rotering_Nancy Rodkin_9107355.pdf',
 'Picus_Preston_30001626.pdf',
 'Ryan_Tim_30002000.pdf',
 'Stefanik_Elise M._9109099.pdf',
 'Murphy_William John_10009537.pdf',
 'Gonzalez_Evelio_9108036.pdf',
 'Curbelo_Carlos_20003783.pdf',
 'Shammas_Joseph Ivaro_10009311.pdf',
 'Blumenauer_Earl_20002778.pdf',
 'Hartzler_Vicky_10013441.pdf',
 'Goodlatte_Bob_9109115.pdf',

In [76]:
index = 0
while index < len(list_of_pdf_paths)-1:
    index += 1
    print(index)
    print(list_of_pdf_paths[index])

1
2015_house_pdfs/Wilson_Joe_10012512.pdf
2
2019_house_pdfs/Pelosi_Nancy_10035243.pdf
3
2019_house_pdfs/Wasserman Schultz_Debbie_10037015.pdf
4
2018_house_pdfs/Lowenthal_Alan S._10025964.pdf

In [77]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H%M%S")
print("Current Time =", current_time)

Current Time = 125312

In [80]:

from pathlib import Path  
file_name = "test_csv"
filepath = Path(f'csvs/{file_name}.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True) 

test_df.to_csv(filepath, index=False)

In [82]:
from pathlib import Path  
file_name = "test_csv"
filepath = Path(f'csvs/{file_name}.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True) 
test_read = pd.read_csv(filepath)
test_read

,Member Name,Member District,Company,Ticker,Type,Date,Value Lower Bound,Value Upper Bound,Description,Link
0,nancy pelosi,CA12,"hertz global holdings, inc",HTZ,P,2015-07-15 00:00:00,"15,001","50,000",purchase of 42 call options with a strike pric...,https://disclosures-clerk.house.gov/public_dis...
1,nancy pelosi,CA12,"hertz global holdings, inc",HTZ,P,2015-07-16 00:00:00,"100,001","250,000",purchase of 258 call options with a strike pri...,https://disclosures-clerk.house.gov/public_dis...
2,nancy pelosi,CA12,salesforce.com inc,CRM,S,2015-12-30 00:00:00,"50,001","100,000","contribution of 1,084 shares held personally t...",https://disclosures-clerk.house.gov/public_dis...
3,nancy pelosi,CA12,visa inc.,V,S,2015-12-29 00:00:00,"250,001","500,000","sale of 5,000 shares",https://disclosures-clerk.house.gov/public_dis...
4,nancy pelosi,CA12,visa inc.,V,S,2015-12-30 00:00:00,"100,001","250,000","contribution of 2,000 shares held personally t...",https://disclosures-clerk.house.gov/public_dis...
...,...,...,...,...,...,...,...,...,...,...
204,alan s. lowenthal,CA47,universal display corporation,OLED,S,2018-12-06 00:00:00,"1,001","15,000",NaN,https://disclosures-clerk.house.gov/public_dis...
205,alan s. lowenthal,CA47,wex inc. common stock,WEX,S,2018-06-04 00:00:00,"1,001","15,000",NaN,https://disclosures-clerk.house.gov/public_dis...
206,alan s. lowenthal,CA47,wex inc. common stock,WEX,S,2018-07-23 00:00:00,"1,001","15,000",NaN,https://disclosures-clerk.house.gov/public_dis...
207,alan s. lowenthal,CA47,wex inc. common stock,WEX,S,2018-07-23 00:00:00,"1,001","15,000",NaN,https://disclosures-clerk.house.gov/public_dis...
208,alan s. lowenthal,CA47,"zayo group holdings, inc.",ZAYO,S,2018-12-20 00:00:00,"1,001","15,000",NaN,https://disclosures-clerk.house.gov/public_dis...